*{
    padding: 0em;
    margin: 0em;
    text-decoration: none;
}

body {
    background-image: url(./flower-on-opened-notebook.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}

h1 {
    font-size: 18px;
    font-family: 'Lucida Sans', sans-serif;
    color:rgb(254, 58, 107) ;
}

#box-cadastro {
    text-align: center;
    margin-top: 30vh;
    margin-left: 53vw;
    background-color: rgba(252, 74, 119, 0.187);
    width: 20vw;
    height: 50vh;
}

.botao, #botao {
    width: 90px;
    height: 30px;
    background-color: rgb(252, 74, 119);
    border-style:none;
    margin-left: 60vw;
    margin-bottom: 2vh;
}

.button {
    display: block;
    position: absolute;
    top: calc(75vh - 50px);
    margin-left: -8px;
}

a,.botao, #botao {
    color: black;
}

#botao {
    display: block;
    position: absolute;
    margin:0vw;
    margin-left: 83px;
}

#nome, #senha, #confirmaSenha {
    padding: 5px;
    border-style: none;
    height: 25px;
}

#meus-recados {
    margin: 3vh 0 0 10vw;
    padding: 50px
}

#descricao {
    margin-left: 23vw;
    height: 4vh;
    padding: 2px;

}

#detalhamento {
    width: 25vw;
    height: 4vh;
    padding: 3px;
  
}

#btnPrincipal {
    margin-left: 65vw;
    margin-bottom: 60vh;
    width: 90px;
    height: 30px;
    background-color: rgb(252, 74, 119);
    border-style:none;
    position: absolute;
    display: block;
}

li {
    margin-top: 3vh;
    margin-left: 23vw;
    list-style: none;
    height: 25px;
    width: 500px; ;
    background-color: bisque;
    padding: 3px;
}   

#btnEditar {
    width: 60px;
    height: 20px;
    background-color: rgb(90, 173, 12);
    border-style:none;
}

#btnApagar {
    width: 60px;
    height: 20px;
    background-color: rgb(252, 74, 119);
    border-style:none;
    margin-left: 5vw;

}

#sair {
    margin-left: 72vw;
    margin-top: 10vh;
    width: 50px;
    height: 30px;
    background-color: rgb(252, 74, 119);
    border-style:none;
}

#form {
    padding: 0;
    margin: 0;
    display: block;
}